<h1>Editing User</h1>

<%= render 'form', user: @user %>




<br>
<%= link_to 'Show User Details', @user %> |
<!-- links to show view -->

<br>
<%= link_to 'Back user list', users_path %>
<!-- links to back -->
