<div id="Edit goals">
  <center><h1>Edit Goals</h1><center>
</div>


<%= render 'form', user: @user %>

<%= link_to 'Show MileStone Details', @user %> |
<!-- links to show view -->
<%= link_to 'Back to MileStone list', users_path %>
<!-- links to back -->
