
<center><h1>Goal Creator</h1><center>
  <!-- image guy running -->
  <div id="guy">
    <img src="https://edc2.healthtap.com/ht-staging/user_answer/reference_image/17120/large/Hip_muscle_weakness.jpeg?1386669779">


  </div>
<!-- end image -->
<!-- image guy2 -->
<div id="guy2">
  <img src="http://images.onhealth.com/images/slideshow/top-10-fitness-facts-s2-illustration-of-brainpower.jpg">
</div>
<!-- end image -->
<%= render 'form', user: @user %>

<br>
<%= link_to 'goals', new_goal_url %> |
<br>
<%= link_to 'Back to MileStone list', users_path %>
<!-- links to back -->

